<p>This project will be a full-featured list management web application.</p>
<p>It will be developed in stages throughout the Spring 2018 quarter for course ITC 230, Advanced Javascript, through Seattle Central College.</p>
