<!DOCTYPE html>

<html>
    <head>
        <title>Ski Areas of the World: Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="styles.css" type="text/css" rel="stylesheet" />  
    </head>
    <body>
        <header>
            <h1>Ski Areas of the World</h1>
        </header>
{{{body}}}
        <footer>
            <br />
            <a href="/">Back to Home</a>
        </footer>        
    </body>
</html>
